//FONTS 
$f-rubik : "Rubik" ; 
$f-lato : "Lato" ;


//BREAKPOINTS 
$bp-tablet : 768px ; 
$bp-mobile-l : 425px; 
$bp-mobile : 375px ; 


//COLORS 
$c-green : hsl(129,45%,47%)  ; 
$c-green-icons :hsl(129, 45%, 30%)  ;
$c-white : #fff; 
$c-b-white : hsl(200,23%,97%) ; 
$c-bg-dark : hsl(203,50%,8%) ; 

$c-icon-bg :  linear-gradient(180deg , $c-green 70% , $c-bg-dark ) ; 

$c-t-white : hsla(0, 5%, 90% ,1 ) ;
 


